<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Pizza Ordering</title>
</head>
<body>
    <h1>Welcome to Pizza Ordering</h1>
    <a asp-action="Register" asp-controller="Registration">Register</a>
</body>
</html>
